<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156537805594-ngl7stkc5mfmcaamsuihlo2e12m5v36o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156537805594-ngl7stkc5mfmcaamsuihlo2e12m5v36o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>156537805594-0462bajel6bcvjlp9lknfjh6ups3u2fa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWR_geUYVEHlhIbKKgiARkAopAGNj4oi4</string>
	<key>GCM_SENDER_ID</key>
	<string>156537805594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.thirsty</string>
	<key>PROJECT_ID</key>
	<string>thirsty-32962</string>
	<key>STORAGE_BUCKET</key>
	<string>thirsty-32962.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156537805594:ios:1806aaf14a6a0f69adeaa3</string>
</dict>
</plist>